# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/clank.suite/nbproject/private/
/clank.suite/build/
/modules/org.clank.java/build/
/modules/org.llvm.adtsupport/build/
/modules/org.llvm.ir/build/
/modules/org.llvm.llvmc/build/
/modules/org.llvm/build/
/modules/org.llvm.irreader/build/
/modules/org.clang.basic/build/
/modules/org.clang.lex/build/
/modules/org.clang.clangc/build/
/modules/org.clang.ast/build/
/modules/org.clang.analysis/build/
/modules/org.clang.astmatchers/build/
/modules/org.clang.edit/build/
/modules/org.llvm.option/build/
/modules/org.clang.sema/build/
/modules/org.clang.parse/build/
/modules/org.llvm.analysis/build/
/modules/org.llvm.profiledata/build/
/modules/org.clang.serialization/build/
/modules/org.llvm.bitcode/build/
/modules/org.clang.driver/build/
/modules/org.llvm.target/build/
/modules/org.llvm.transforms/build/
/modules/org.clang.frontend/build/
/modules/org.llvm.linker/build/
/modules/org.clang.rewrite/build/
/modules/org.clang.format/build/
/modules/org.clang.tooling/build/
/modules/org.clang.arcmigrate/build/
/modules/org.clang.staticanalyzer/build/
/modules/org.clang.tools.clang_format/build/
/modules/org.clang.codegen/build/
/modules/org.clang.tools.driver/build/
/modules/org.clang.frontendtool/build/
/modules/out/production/modules/build/
/modules/out/production/modules/nbproject/private/
